.film {
  display: flex;
  justify-content: space-between;

  column-gap: 24px;
}

.image {
  border-radius: 8px;

  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;

  row-gap: 8px;
}

.name {
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 20px;
}

.info-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
}

.counter {
  margin-left: auto;
}
